.hostingCard{
    height:auto;
    padding:15px;
}
blockquote{
    border-left: 5px solid $primary-color;   
}
#webHosting h5, #webHosting h3, #webHosting blockquote{
    margin-left:4%;
           
}