.hostingCard{
    height:auto;
    padding:15px;
}
blockquote{
    border-left: 5px solid $primary-color;   
}
#webHosting h5, #webHosting h3, #webHosting blockquote{
    margin-left:4%;
           
}
#email h5, #email h3, #email blockquote{
    margin-left:4%;
           
}
.spamDocBtn{
    margin: 30px 0 15px 0;   
}