.internetCard{
    height:auto;
    padding:15px;
}
table{
    border:1px solid rgba(#424242, 0.25);   
}
.nbnTitle{
       font-size: 24px;
}
.nbnSubHeading{
    font-size:20px;
}
.nbnDivision{
    background-color: rgba($primary-color, 0.75);  
}
