.supportCard{
	padding:0!important;
	
	h3, p{
		padding:15px 15px;
	}
	.collapsible{
		color:#FFF;
	}
	 .collapsible-header{
		background-color:$contrasting-color;
		width: 105%;
  		margin-left: -10px;		
	}
	.collapsible-body{
		color:#000;
	}
	
		}
			