nav ul a{
    transition: font-size 0.2s;   
}
nav .brand-logo{
 padding: 0 0 0 30px;   
 img{
     width:190px;
     height:auto;
     margin: 2px 0 0 5px;
 }  
}
.dropdown-content{
    background:$dropdown-content-background; 
    li > a{
    font-size:$dropdown-font-size;
        padding:$dropdown-content-padding;
    }
    li:hover, li.active{
        background:$active-dropdown-content-background;   
    }
}
